/* Your custom styles goes here */ 

header  {
  background: #808080;
  color: #fff;
  padding: 1em;
}

h1 a  {
  color: #fff;
}

#albums .info {
  background: rgba(0, 0, 0, 0.5);
}

.lg-outer .lg-image {
  max-width: 80%;
  max-height: 80%;
}
