/* Your custom styles goes here */ 

#container  {
  background: #000;
}

body  {
  color: #fff;
}

header  {
  background: #000;
}

h1 a  {
  color: #fff;
}

nav.breadcrumbs a {
  color: #fff;
}

footer {
  color: #fff;
  border-top: solid 1px;
  padding-top: 1em;
}
